Flask==1.1.2
Werkzeug==1.0.1
joblib==1.0.1
flask_bootstrap==3.3.7.1
flask_login==0.5.0
flask_sqlalchemy==2.5.1
flask_wtf==0.14.3
scikit_learn==0.24.1
scipy>=0.15.1
matplotlib>=1.4.3
pandas>=0.19
WTForms==2.3.3
gunicorn
jinja2==3.0.2
streamlit==1.21.0
streamlit-option-menu==0.3.2
# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Packages
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-User==1.0.1.5

# Automated tests
pytest==3.0.5
pytest-cov==2.4.0
